@import "../helpers/colors.scss";

.content-wrapper {
  // padding: 10% 2%;
  padding-top: 92px;
  width: 100%;
  background-color: #f7f7f7;

  main {
    margin: 0;
    padding: 30px 20px 6% 10%;

    .dashboard-message {
      background-color: #fff;
      @include borderCard(#fff);
      @include verCenterHeight(70px);
      overflow: hidden;
      padding: 0;

      h3 {
        line-height: 70px;
        @include boldFont();
        color: #fff;
        text-align: center;
      }

      .leftSection {
        background: url(../../../assets/img/icons/badgeDesktop.png);
        background-size: cover;
        background-position: 90% 0;
        background-repeat: no-repeat;
        max-height: 70px;
        max-width: 350px;
        width: 350px;

        @include boldFont();
      }

      .rightSection {
        padding-left: 20px;

        p {
          color: $black;
          font-size: 1.6rem;

          span {
            font-size: 1.6rem;

            &.bold {
              @include boldFont();
            }

            &.discountAmount {
              color: $green;
              font-size: 2rem;
            }

            &.delimiter {
              color: #a9cd23;
            }

            &.promoCode {
              text-transform: uppercase;
            }
          }
        }
      }
    }

    section {
      margin-top: 20px;
      padding: 0;

      h5 {
        color: $green;
        @include boldFont();
        font-size: 2rem;
        text-transform: uppercase;
      }

      .container-card {
        @include borderCard(#fff);
        position: relative;
        overflow-y: auto;
      }

      hr {
        border-color: #ededed;
      }

      &.analyitics {
        .cardsContainer {
          .container-card {
            height: 645px;

            &.middleContainer {
              .companyTable {
                background-color: #ededed;

                &.admin {
                  background-color: $green;
                  color: #fff;
                  position: relative;
                  top: 0;
                  left: 0;

                  &::after {
                    content: "ADMIN";
                    position: absolute;
                    top: 35%;
                    right: 0%;
                    @include rotate(90);
                    @include boldFont();
                    font-size: 1.6rem;
                  }

                  &:hover {
                    box-shadow: unset;
                  }

                  h5,
                  h3 {
                    color: #fff;
                  }

                  .buttons-wrapper {
                    a {
                      i {
                        color: #fff;

                        &:hover {
                          opacity: 0.5;
                        }
                      }

                      &:hover {
                        opacity: 0.5;
                        text-decoration: none;
                      }
                    }
                  }
                }

                .companyInfo {
                  position: relative;
                  @include ver-center();
                }

                .buttons-wrapper {
                  position: absolute;
                  right: 15%;
                  bottom: 5%;

                  a {

                    margin-right: 10px;

                    i {
                      font-size: 1.5rem;
                      color: $green;

                      &:hover {
                        opacity: 0.5;
                      }
                    }

                    &:hover {
                      opacity: 0.5;
                      text-decoration: none;
                    }
                  }
                }
              }

              .uploadPerson {
                background-color: #fff;

                &:hover {
                  box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 0.2);
                }
              }
            }

            &.rightContainer {
              .companyTable {
                border-radius: 0;
                box-shadow: unset;

                &:hover {
                  box-shadow: unset;
                }

                table {
                  text-align: center;

                  th,
                  td {
                    vertical-align: middle;
                  }

                  thead {
                    tr {

                      &:hover {
                        background: none;
                      }
                    }
                  }

                  th {
                    border-top: 0px;
                    border-bottom: 0px;
                    @include boldFont();
                    color: $black;
                    text-transform: uppercase;
                    font-size: 1.4rem;

                  }

                  tr {
                    height: 60px;

                    &:hover {
                      background: #f7f7f7;
                    }

                    td {
                      font-size: 1.4rem;
                      color: $black;
                      border-top: 0px;
                      border-bottom: 1px solid $lightGray;

                      &.details {
                        color: $green;
                        text-decoration: underline;
                        position: relative;
                        top: 0;
                        left: 0;
                        padding-left: 20px;

                        &::before {
                          content: " ";
                          height: 10px;
                          width: 17px;
                          background: url('../../../assets/img/icons/eye.svg') center center no-repeat;
                          background-size: cover;
                          position: absolute;
                          left: 0;
                          top: 40%;
                        }
                      }
                    }
                  }
                }
              }

              h6 {
                color: $black;
                font-size: 1.4rem;
                @include boldFont();
                text-decoration: underline;
              }
            }
          }
        }

        .companyTable {
          cursor: pointer;
          min-height: 80px;
          border-radius: 20px;
          // border: 1px solid #EDEDED;
          // transition: border-width 0.6s linear;
          box-shadow: 0 0 0pt 1px #ededed;
          margin-bottom: 17px;

          &.uploadCompany,
          &.uploadPerson {
            box-shadow: none;
            border: 1px dashed #676767;

            &:hover {
              box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 0.2);
            }

            h5 {
              line-height: 80px;
              font-size: 1.2rem;
              font-weight: 400;
              text-align: center;
              margin-left: 37px;
              margin-bottom: 0;
              position: relative;
              color: $black;

              &::before {
                content: url("../../../assets/img/icons/plus-circle.svg");
                position: relative;
                left: -5%;
                top: 13px;
              }
            }
          }

          &:hover {
            box-shadow: 0 0 0pt 3px $green;
          }
        }

        img {
          width: 60%;
          height: auto;
          @include ver-center();
          position: absolute;
          top: 50%;
        }

        .companyInfoContainer {
          padding: 0;

          .companyInfo {
            position: relative;
            @include ver-center();

            h3 {
              color: $black;
              font-weight: bold;
              font-size: 2rem;
            }

            h5 {
              font-family: $font;
              font-weight: unset;
              font-size: 1.4rem;
              color: $black;
            }

            .buttons-wrapper {
              position: absolute;
              right: 15%;
              bottom: -20%;

              a {

                margin-right: 10px;

                i {
                  font-size: 1.5rem;
                  color: $green;

                  &:hover {
                    opacity: 0.5;
                  }
                }

                &:hover {
                  opacity: 0.5;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      &.catalog {
        .cardsContainer {
          .container-card {
            height: 420px;

            // &.leftContainer {}

            &.rightContainer {
              background: url('../../../assets/img/ctaBg.jpg') no-repeat center center;
              background-size: contain;
              position: relative;
              top: 0;
              left: 0;

              a {
                background: $green;
                border-radius: 25px;
                color: #fff;
                @include boldFont();
                padding: 15px 30px;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 1.3rem;

                &:hover {
                  text-decoration: none;
                  background: $hoverGreen;
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .content-wrapper {
    main {
      padding: 30px 20px 10% 10%;

      section {
        &.analyitics {
          .cardsContainer {
            .container-card {
              &.rightContainer {
                .companyTable {
                  table {
                    tr {
                      td {
                        font-size: 1.2rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

@media(max-width: 1120px) {
  .content-wrapper {
    main {
      .dashboard-message {
        .rightSection {
          p {
            font-size: 1.2rem;

            span {
              font-size: 1.4rem;

              &.discountAmount {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      section {
        &.analyitics {
          .companyInfoContainer .companyInfo .buttons-wrapper {
            right: 0;

            a {
              display: block;

              i {
                font-size: 1rem;
              }
            }
          }

          .cardsContainer {
            .container-card {
              &.middleContainer .companyTable .buttons-wrapper a i {
                font-size: 1rem;
              }

              &.rightContainer {
                .companyTable {
                  table {
                    th {
                      font-size: 1.2rem;
                      padding: 0 5px;
                    }

                    tr {
                      td {
                        font-size: 1rem;
                        padding: 0;

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .content-wrapper {
    main {

      padding: 30px 20px 25% 10%;

      .dashboard-message {
        .leftSection {
          background: url("../../../assets/img/icons/badge.png");
        }
      }
    }

  }
}