@import "../helpers/colors.scss";

.content-wrapper {
  // padding: 10% 2%;
  padding-top: 92px;
  width: 100%;
  background-color: #f7f7f7;

  main {
    .main-top-bar {
      max-height: 70px;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      background-color: #276462;
      border: 1px solid #EDEDED;
      box-shadow: 0px 3px 6px #0000000D;
      height: 70px;
      line-height: 70px;
      overflow: hidden;

      .bar-content-wrapper {
        background: url(../../../assets/img/pathBg.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        text-align: center;
        margin: 0 auto;

        a {
          &:hover {
            text-decoration: none;
          }

          h3 {
            line-height: 70px;
            @include boldFont();
            color: #fff;
            text-align: center;
            font-size: 2rem;
            position: relative;
            top: 0;
            left: 0;
            margin-left: 46px;

            &::before {
              content: " ";
              background: url('../../../assets/img/icons/docAdd.svg');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              position: absolute;
              left: 37%;
              top: 30%;
              height: 30px;
              width: 34px;

            }
          }
        }
      }
    }
  }

  // #clientNum {
  //   @include inputOrder(100%);
  // }

  section {
    &.ordini {
      .orderTableTitle {
        h6 {

          color: $black;
          @include boldFont();
          font-size: 2rem;
        }
      }

      .singleOrder {
        border-bottom: 1px solid #676767;
        min-height: 50px;
      }

      .ordersTable {
        height: 40px;

        h6 {
          color: $black;
          font-size: 2rem;
          line-height: 40px;
        }

        .toggleable {
          text-align: right;
          line-height: 40px;

          a {
            background: $green;
            border-radius: 20px;
            @include boldFont();
            text-transform: uppercase;
            padding: 10px 25px;
            position: relative;
            margin-right: 100px;
            border-color: $green;
            margin-bottom: 5px;

            &::after {
              content: " ";
              height: 30px;
              position: absolute;
              background: $darkGray;
              width: 2px;
              right: -30px;
              top: 5px;
            }

            &:hover {
              background: $hoverGreen;
            }
          }

          i {
            margin: 0;
            padding: 0;

            &.ci {
              &.ci-arrowDown {
                position: relative;

                &::before {
                  content: " ";
                  background: url(../../../assets/img/icons/arrowDown.svg) no-repeat center center;
                  width: 30px;
                  height: 30px;
                  position: absolute;
                  right: 15px;
                  top: 50%;
                }
              }
            }
          }


        }
      }

      .collapse {
        &.show {
          margin-top: 20px;

          .card.card-body {
            border: none;

            .leftBox {
              .productDesc {
                margin-bottom: 25px;
                color: $black;

                h4 {
                  @include boldFont();
                  font-size: 1.6rem;
                  text-transform: uppercase;
                }

                h6 {
                  font-size: 1.4rem;
                }
              }
            }

            .rightBox {
              background: #EDEDED;

              .col-sm-6 {
                padding: 1% 5%;
              }

              table {
                width: 100%;

                thead {
                  th {
                    padding: 15px 0;
                    text-align: center;
                    background: #fff;
                  }
                }

                tr {
                  text-align: left;
                }

                td {
                  width: 50%;
                  padding: 15px 0;
                  color: $black;

                  .bold {
                    font-weight: bold;
                    font-size: 1.6rem;
                  }

                  p {

                    font-size: 1.4rem;
                  }
                }

                &.firstTable {
                  position: relative;

                  &::after {
                    content: " ";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background: #fff;
                    right: -10%;
                    top: 0;
                  }
                }

              }

            }
          }
        }
      }

    }

    &.ordini-flow {
      // .container-card {
      //   width: 75%
      // }

      .sw-theme-dots {
        .toolbar>.btn {
          background: $green;
          border-radius: 20px;
          font-size: 1.3rem;
          @include boldFont();
          text-transform: uppercase;
          padding: 10px 60px;
          margin-right: 20px;
        }

      }

      .sw>.nav .nav-link {
        padding: .5rem 2rem;
      }

      .tab-pane {
        h4 {
          color: $green;
          @include boldFont();
          font-size: 2rem;
          margin-top: 2rem;
          display: inline;
          text-transform: uppercase;
          line-height: 5rem;

          &.light {
            color: $black;
            @include regularFont();
          }
        }

        .b2 {
          border-color: $black;
        }

        a {
          color: $black;
          margin-left: 25px;
          text-decoration: underline;

          // &:hover {}
        }

        &#step-2 {

          .flowSection {
            .tab-pane {
              h4 {
                display: block;
              }
            }

            .col-sm-4 {
              margin-bottom: 25px;
            }

            .checkBoxWrapper {
              position: relative;

              label {
                position: absolute;
                left: 20%;
              }

              input[type=checkbox] {
                position: absolute;
                left: 10%;
                top: -10px;
                width: 20px;
              }
            }
          }

          .selection-wrapper {
            border: 3px solid $lightGray;
            width: 75%;
            text-align: center;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            &.active,
            &:hover {
              border-color: $green;
            }

            h4 {
              // line-height: 1rem;
              color: $black;
            }
          }
        }

      }

      .flowSection {
        padding: 25px 0;
        border-bottom: 1px solid #EDEDED;


        label {
          color: $black;
          font-size: 1.4rem;
        }

        input,
        select {
          @include inputOrder(100%, 39px);
        }

        .checkBox {
          top: 75%;
          position: absolute;
          right: 25%;
        }

        input[type="checkbox"] {
          border: none;
          box-shadow: none;
          border-radius: 6px;
          border: 3px solid $lightGray;
          width: 10%;
          float: right;
        }

        .checkBoxLabel {
          position: absolute;
          top: 30%;
          right: 17%;
        }

        a {
          line-height: 8rem;
          @include boldFont();
          font-size: 1.6rem;
          color: $black;
          position: relative;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          i {
            height: 30px;
            width: 30px;

            &.ci-arrowDown {
              &::after {
                content: " ";
                background: url(../../../assets/img/icons/arrowDown.svg) no-repeat center center;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 25px;
                right: -40px;
              }
            }
          }
        }
      }

      .miniCart {
        .container-card {
          padding: 0;

          h5 {
            margin: 25px;
          }

          .cart {
            margin: 0 auto;

            .col-sm-6 {
              height: 35px;
              padding: 0;
            }

            p,
            span {
              text-transform: uppercase;
              font-size: 1.3rem;
              @include boldFont();
            }
          }
        }

        .priceBox {
          background: #6CAAA8;

          h5,
          span {
            color: #fff;
            font-size: 2.6rem;
            @include regularFont();
          }
        }
      }
    }
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}